@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
